/*==========  GLOBAL STYLES  ==========*/

html {
    box-sizing: border-box;
}

*, 
*:before, 
*:after {
    box-sizing: inherit;
}

html,
body,
button {
    -moz-osx-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

html {
    //overflow-y: scroll;

    @media (max-width: 1023px) {
        font-size: 88%;
    }

    @media (min-width: 1024px) and (max-width: 1366px) {
        font-size: 80%;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    line-height: 1.5;
    font-weight: 400;
    color: $colorMain;
    overflow-x: hidden;
    height: auto !important;

    //padding-top: $topNavbarHeight;
}

ul, li {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;

    &:not([class]) {
        color: $colorRed;
        transition: all 0.2s ease;

        &:hover {
            color: $colorMain;
        }
    }
}

b,
strong {
    font-weight: 600;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}
