$moveHeight: 30px;

.l-contact {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;

    @media (max-width: 1023px) {
        z-index: 1001;
    }
    
    display: none;

    @media (min-width: 1024px) {
        left: 60px;
    }

    &__content {
        position: relative;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        
        opacity: 0;

        color: #fff;

        margin-top: $moveHeight;

        transition: all 0.5s ease;

        .l-contact--opened & {
            opacity: 1;
            margin-top: 0;
        }

        a {
            color: #fff;
        }
    }

    .l-navbar {
        z-index: 12;
        background-color: $colorMain;
        border-bottom-color: transparent;
        top: $moveHeight;
    }

    &--opened {
        .l-navbar {
            top: 0;
        }
    }

    &__container {
        height: inherit;
    }

    &__row {
        padding: {
            top: 150px;
            bottom: $topNavbarHeight;
        }

        min-height: 100%;
    }

    &__close {
        position: absolute;
        top: 1em;
        right: 2em;

        background-color: transparent;
        cursor: pointer;

        padding: 10px;

        transition: transform 0.3s ease;

        svg {
            stroke: #fff;
        }

        &:hover {
            transform: scale(1.25);
        }
    }
}