/**
*
* Top header
*
**/

.l-header {
    position: relative;
    
    &--fullscreen {
        //height: calc(100vh - #{$topNavbarHeight});
        height: 100vh;
        border-bottom: 2px solid #fff;

        @media (min-width: 1280px) {
            min-height: 730px;
        }

        @supports (-webkit-overflow-scrolling: touch) {
            height: calc(var(--vh, 1vh) * 100);
        }
    }

    &--simple {
        background-color: #fff;
        padding: 3.5em 0;

        &:before {
            content: '';
            position: absolute;
            left: -100%;
            top: 0;
            bottom: 0;

            width: 100%;
            
            background-color: inherit;
        }
    }

    &__vertical-middle {
        width: 100%;
        height: 100%;
        padding-top: $topNavbarHeight/2;

        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__wrapper {
        position: relative;
        margin: 0 auto;

        width: 75%;
    }

    &__content {
        max-width: 450px;
        margin-bottom: 2em;
    }

    &__headline {
        padding-bottom: 0.3em;
    }

    &__arrow-down {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        
        animation: MoveUpDown 2s ease-in-out infinite;

        background-color: transparent;

        transition: all 0.2s ease;

        svg {
            fill: #fff;
            transition: transform 0.4s ease;
        }

        &:hover svg {
            transform: scale(1.2);
        }
    }
}

@keyframes MoveUpDown {
    0% {
        bottom: 2em;
    }
    50% {
        bottom: 3em;
    }
    100% {
        bottom: 2em;
    }
}

// homepage header hero bg
@media all and (max-width: 768px) {
    #hero-bg {
        background-image: url('../images/IMG_8726-mobile.jpg');
    }
}

@media all and (min-width: 769px) {
    #hero-bg {
        background-image: url('../images/IMG_8726.jpg');
    }
}