.accordion {
    border-bottom: 1px solid #ddd;

    &__header {
        padding: 0.75em 0;

        &-link {
            display: block;
            width: 100%;
            text-align: left;

            background-color: transparent;
            color: $colorMain;
            transition: color 0.3s ease;

            &:hover {
                color: $colorRed;
            }
        }
    }

    &__content {
        padding: 1em 10px 1em 40px;
    }

    &__headline {
        display: flex;
        margin-bottom: 0;
    }

    &__icon {
        flex: 0 0 25px;
        margin-top: 7px;
        margin-right: 10px;

        transition: transform 0.4s ease;
    }

    &--active {
        .accordion__headline {
            color: $colorRed;
        }

        .accordion__icon {
            transform: rotate(90deg);
        }
    }

    &__content {
        display: none;
    }
}