.article {
    display: flex;
    overflow: hidden;
    width: 100%;
    margin-bottom: 2em;

    &__link {
        display: flex;
        width: 100%;
        color: $colorMain;

        transition: color 0.2s ease, transform 0.4s ease;

        &:hover {
            color: $colorRed;

            .article__img {
                opacity: 0.8;
            }
        }
    }

    &:hover {
        .article__link {
            transform: translate3d(10px,0,0);

            @media (min-width: 1024px) {
                transform: translate3d(40px,0,0);
            }
        }
    }

    &__img-wrapper {
        margin: 0 20px 0 0;
        width: 25%;
        flex: 0 0 25%;

        @media (min-width: 1024px) {
            margin: 0 40px 0 0;
            width: 210px;
            flex: 0 0 210px;
        }
    }

    &__img {
        margin: 0;
        height: 0;
        padding-top: calc(600 / 1150 * 100%);

        background-size: cover;
        background-position: center;

        transition: opacity 0.3s ease;

        img {
            display: none;
        }
    }

    &__description {
        padding-bottom: 15px;
        border-bottom: 3px solid #fff;

        &-container {
            max-width: 680px;
            min-height: 80px;
            height: 100%;
        }
    }

    &__description,
    &__description-container {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
    }
}