/**
*
* Blockquote
*
**/

.blockquote {
    margin: 1em 0;
    padding: 2.5em;

    > p {
        margin: 0;
        position: relative;
        font-size: 1.25rem;
        font-weight: 500;

        line-height: 1.35;

        &:first-child:before {
            content: '\201C';
        }

        &:last-of-type:after {
            content: '\201D';

        }

        &:last-of-type {
            margin-bottom: .5em;
        }
    }

    &--large {
        padding: 2em 2em 1.5em 2em;

        @media (min-width: 1024px) and (max-width: 1439px) {
            padding: 3em 3em 2em 3em;
        }

        @media (min-width: 1440px) {
            padding: 5em 5em 4em 5em;
        }

        > p {
            font-size: rem(20px);
            line-height: 1.2;

            @media (min-width: 1024px) and (max-width: 1280px) {
                font-size: rem(35px);
            }

            @media (min-width: 1281px) and (max-width: 1439px) {
                font-size: rem(40px);
            }

            @media (min-width: 1440px) {
                font-size: rem(50px);
            }
        }

        .blockquote__footer {
            margin-top: 3em;
        }
    }

    &__footer {
        margin-top: 1em;

        @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__logo {
        max-height: 140px;
        max-width: 50%;
    }
}