/**
*
* Blockquote
*
**/

.blockquote {
    margin: 1em 0;
    padding: 2.5em;

    > p {
        margin: 0;
        position: relative;
        font-size: 1.25rem;
        font-weight: 500;

        line-height: 1.35;

        &:first-child:before {
            content: '\201C';
        }

        &:last-of-type:after {
            content: '\201D';

        }

        &:last-of-type {
            margin-bottom: .5em;
        }
    }

    &__footer {
        margin-top: 1em;

        @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__logo {
        max-height: 140px;
        max-width: 50%;
    }
}