.boxes-nav {

    &__item {
        display: block;
        width: 100%;

        @media (max-width: 767px) {
            min-width: 250px;
        }
    }

    &__items {
        @media (max-width: 767px) {
            display: flex;
        }
    }

    &__link {
        position: relative;

        display: block;
        padding: 2em;
        min-height: 180px;

        @media (max-width: 767px) {
            height: 100%;
        }

        border-bottom: 1px solid #fff;

        @media (min-width: 1440px) {
            min-height: 280px;
        } 

        // bottom right arrow
        &:after {
            position: absolute;
            bottom: 2em;
            right: 4em;
            opacity: 0;
            
            content: '';

            width: 20px;
            height: 20px;

            background: url(../images/icons/long-arrow.svg);
            background-repeat: no-repeat;

            transition: all 0.3s ease;
        }
        
        &--active {
            background-color: $colorLightGrey2;

            &:after {
                opacity: 1;
                right: 2em;
            }
        }

        &:hover {
            &:after {
                right: 2em;
                opacity: 1;
            }
        }
    }

    &__headline {
        width: 80%;
    }
    
    &__text {
        font-size: rem(22px);
        color: $colorMain;
    }
}