/**
*
* Button
*
**/

.btn {
    position: relative;
    overflow: hidden;
    z-index: 1;
    @include inline-block();

    padding: 0.8rem 3rem;

    font-size: rem(18px);
    font-weight: 400;
    text-align: center;
    line-height: 1.3;

    transition: background-color 0.2s ease, color 0.3s ease;

    &--full-width {
        width: 100%;
    }

    // size
    &--large {
        font-size: rem(22px);

        //min-width: 330px;
        padding: 1rem 3.5rem;
    }

    // bg colors
    &--bg {
        @each $colorName, $color, $colorSecondary in $colors {
            &-#{$colorName} {
                background-color: rgba($color, 1);
                

                @if $colorName = 'gold' {
                    color: $colorMain;
                }

                @if $colorName = 'white' {
                    color: #000;
                }

                @if $colorName != 'gold' and $colorName != 'white' {
                    color: #fff;
                }



                &:hover {
                    background: rgba($colorSecondary, 1);
                }

                &:not(.btn--bg-white):before {
                    //background-color:#fff;
                    background-color: #707070;
                }
            }
        }

    }
}