.content-and-sidebar {
    position: relative;
    overflow: hidden;

    &--header {
        display: flex;
        margin-top: $topNavbarHeightMobile;
        background-color: #fff;

        @media (max-width: 1024px) {
            margin-top: $topNavbarHeightMobile;
        }

        @media (max-width: 1023px) and (orientation: landscape) {
            min-height: calc(100vh - #{$topNavbarHeightMobile});
        }

        @media (min-width: 1024px) and (orientation: landscape) {
            min-height: calc(100vh - #{$topNavbarHeight});
        }
    }

    &__hidden,
    &__hidden.owl-loaded {
        display: none;
    }
    
    &__left {
        position: relative;
        padding: {
            top: 2em;
            bottom: 2em;
        }
        background-color: #fff;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: -100000%;
            bottom: 0;
            right: -100%;

            @media (min-width: 768px) {
                right: 0;
            }

            background-color: #fff;
        }

        &--light-grey {
            &:before {
                background-color: $colorLightGrey;
            }
        }

        &-inner {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            padding: 5em 0 3em 0;
            height: 100%;
        }

        &-container {
            margin-bottom: 2em;

            @media (min-width: 768px) {
                margin-right: 50px;
            }
            
            &--narrow {
                @media (min-width: 768px) {
                    max-width: 436px;
                }
            }
        }

        &--vertically-aligned {
            display: flex;
            align-items: center;
        }
    }

    &__right {
        @media (min-width: 768px) {
            padding-top: 7em;
        }
    }

    &__box {
        position: relative;

        &-inner {
            position: relative;
            z-index: 1;
            padding: 3em 0;

            @media (min-width: 768px) and (max-width: 991px) {
                padding: 3em 0 3em 3em;

                .content-and-sidebar--header & {
                    padding-left: 0;
                }
            }

            @media (min-width: 992px) {
                padding: {
                    left: 2.5em;
                    right: 0;
                }
            }

            @media (min-width: 1024px) and (max-width: 1439px) {
                padding: 4em 1.2em 4em 4em;
            }

            @media (min-width: 1440px) {
                padding: 4em 1.2em 4em 5em;
            }
        }

        &--offset-right {
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: -100%;
                bottom: 0;
                right: -100000%;
    
                background-color: inherit;

                @media (min-width: 768px) {
                    left: 0;
                }

                .content-and-sidebar--header & {
                    @media (min-width: 768px) and (max-width: 991px) {
                        left: -100%;
                    }
                }
            }
        }
    }

    &__content {
        position: relative;
        padding-bottom: 5em;

        @media (min-width: 1024px) and (max-width: 1439px) {
            padding: {
                left: 5em;
                right: 5em;
            }

            .content-and-sidebar--header & {
                padding: {
                    left: 0;
                    right: 0;
                }
            }
        }

        @media (min-width: 768px) {
            max-width: 70%;
        }
    }

    &__horizontal-menu {
        margin-top: 2em;
        width: 100%;
    }

    &__full-height:not(.container-large) {
        flex-grow: 1;
    }

    &__full-height {

        .row {
            @media (min-width: 992px) {
                height: 100%;
            }
        }
    }

    &__full-height-used {
        display: flex;
        flex-direction: column;
    }
}

// owl hack
.js-comparison-slider.owl-carousel {
    transition: opacity 0.6s ease;
}