/**
*
* Forms
*
**/

.form {
    position: relative;

    &:not(.form--no-space-around) {
        padding: 2em;
    }

    fieldset {
        @include clearfix();
    }
}


// General
.form__input, 
.form__textarea, 
select, 
.form__select {  
    width: 100%; 
    border-radius: 2px; 
    border: solid 1px #ccc; 
    padding: 0.5em 0.7em;
    outline: none;

    &:focus {
        border-color: $colorMain;
    }
}
    
.form__select, 
select {
    background: white url(../images/formelements-select.png) no-repeat center right;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

select {
    line-height: 1;
}

    
.ie9 .form__input {
    line-height:normal;
} /* Get the stuff to line up right */
    
.form__textarea {
    width: 100%;
    min-height: 10em;
}


// Checkbox & Radio inputs
.form__radio, 
.form__checkbox {
    position: absolute; 
    left: -999em;
}

.form__radio-label,
.form__checkbox-label {
    display: inline-block;
    vertical-align: middle;

    font-size: rem(18px);
    cursor: pointer;
}
        
.form__radio-label:before,
.form__checkbox-label:before { 
    content:''; 

    display: inline-block; 
    vertical-align: middle;
    position: relative; 
    top: -3px; 
    left: 0; 

    width: 25px; 
    height: 25px;
    margin-right: 10px;
    border: 2px solid #000;

    transition: background-color 0.2s ease;

    @media (min-width: 1440px) {
        margin-right: 20px;
    }

    .form--white & {
        border-color: #fff;
    }
}

.form__radio-label--tight:before,
.form__checkbox-label--tight:before { 
    margin-right: 10px;
}

.form__radio-label:before {
    border-radius: 50%;
}
               
.form__checkbox:checked + .form__checkbox-label:before,
.form__radio:checked + .form__radio-label:before {
    background-color: #000;

    .form--white & {
        background-color: #fff;
    }
}

.form__checkbox:disabled + .form__checkbox-label,
.form__radio:disabled + .form__radio-label {
    opacity: 0.15;
}

// Select list
.form__select {
    overflow:hidden;
    padding:0;
    margin:0;
    max-width: 600px;

    select {
        width:115%;
        background-color:transparent;
        background-image:none;
        -webkit-appearance: none;
        border:none;
        box-shadow:none;
    }
}

// Label above the field
.form__label {
    display: block;
    width: 100%;
    line-height: 2;
}

.form__row {
    display: table;
    width: 100%;
    clear: both;
    padding: 0.6em 0;

    &__left,
    &__right {
        display: table-cell;
        vertical-align: top;
    }

    &__left {
        width: 200px;
    }

    &__right {
        width: 70%;
    }

    &-cell {
        display: table-cell;
    }
}

.form__response {
    border-radius: 5px;


    &--ok {
        background: green;
    }

    &--error {
        background: red;
    }

    p {
        padding: 10px;

        font-size: 1em !important;
        color: #fff;
        text-shadow: none;
    }
}

#contact-mail {
    display: none;
}