.header-with-icon {
    margin-bottom: 2.5em;

    &__icon,
    &__text {
        display: inline-block;
        vertical-align: bottom;
    }

    &__icon {
        margin-right: 2em;
    }

    &__text {
        margin-bottom: -7px;
    }
}