// Marketo CSS

body {
    .marketo {

        &.mktoForm {
            background: none;
        }

        @each $colorName, $color in $colors {
            &--#{$colorName}-button {
                .mktoButtonWrap .mktoButton {
                    background-color: $color !important;

                    &:before {
                        display: none;
                    }
                }
            }

            &--white-button-#{$colorName}-text {
                .mktoButtonWrap button.mktoButton {
                    background-color: #fff;
                    color: $color !important;
                }
            }
        }

        &--small-button {
            .mktoButtonRow .mktoButtonWrap .mktoButton {
                font-size: rem(18px) !important;
                padding: 16px 25px !important;
            }
        }

        form:not(.mktoForm) {
            min-height: 50px;
            background: url(../images/loading.svg) top center no-repeat;
        }

        &--on-white-bg {
            form:not(.mktoForm) {
                background: url(../images/loading-black.svg) top center no-repeat;
            }

            .mktoForm {
                .mktoFormRow {
                    input[type="text"],
                    input[type="tel"],
                    input[type="number"],
                    input[type="email"],
                    select.mktoField,
                    textarea.mktoField {
                        border: 1px solid #D5D5D5 !important;
                    }   
                }
            }
        }

        .mktoFormCol {
            margin-bottom: 0 !important;
        }

        .mkto-notice {
            padding: 1rem;
            margin: 1rem 0;
            background-color: $colorDarkGreen;
            color: #fff;
            display: none;
        }
    }

    .mktoOffset {
        display: none;
    }

    .mktoForm {
        font-size: inherit !important;
        width: auto !important;
        padding: 0 !important;

        .mktoFormRow {
            input,
            select {
                margin-bottom: 5%;
            }
        }

        .mktoButton,
        .mktoButtonWrap .mktoButton {
            position: relative;
            overflow: hidden;
            z-index: 1;
            @include inline-block();
        
            padding: 0.8rem 3rem;
        
            font-size: rem(18px);
            font-weight: 400;
            text-align: center;
        
            transition: opacity 0.2s ease, border-color 0.2s ease, color 0.3s ease;

            
            width: auto !important;
            background-image: none !important;
            border: 0 !important;
            box-shadow: none !important;
            text-shadow: none !important;


            text-align: center !important;
            line-height: 1 !important;
            color: #fff !important;


            padding: 20px 50px !important;
            font-size: rem(22px) !important;
            font-weight: 500 !important;
            transition: all 0.2s ease !important;

            font-family: Gordita,sans-serif !important;
            margin: {
                left: auto;
                right: auto;
            }


            &:hover {
                color: #fff !important;
                background-color: #707070 !important;
            }

            &:hover,
            &:focus {
                border: 0;
            }

        }

        .mktoLabel {
            font-weight: inherit !important;
            font-family: 'Gordita',sans-serif;

            display: inline-block;
            margin: 5px 0;
            float: left;
            width: auto !important;
            color: #fff;

            ~ .mktoError {
                bottom: -33px !important;

                + .mktoClear {
                    display: none;
                }
            }
        }

        .mktoAsterix {
            display: none !important;
        }


        .mktoFieldWrap {
            float: none;

            display: flex;
            width: 100%;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;

            @media all and (max-width: 520px) {
                flex-flow: row wrap;
            }

            > * {
                @media all and (max-width: 520px) {
                    width: 100% !important;
                }
            }

            .mktoGutter {
                display: none !important;
            }

            .mktoHtmlText.mktoHasWidth {
                width: auto !important;
            }
        }


        .mktoFormRow {
            @media (min-width: 481px) {
                display: flex;
                align-items: stretch;

                .mktoFormCol {
                    flex-grow: 1;
                    width: 100%;
    
                    &:nth-child(1) {
                        input,
                        select {
                            margin-right: 5%;
                        }
                    }
    
                    &:nth-child(2) {
                        input,
                        select {
                            margin-left: 5%;
                        }
                    }
                }
            }

            .mktoClear {
                display: none;
            }
        }


        input[type="text"],
        input[type="tel"],
        input[type="number"],
        input[type="email"],
        select.mktoField {
            @extend .form__input;
            //border: 1px solid transparent !important;
            box-shadow: none;
            padding: 12px !important;
            border-radius: 0;
            font-family: 'Gordita',sans-serif;

            width: 100% !important;
            height: 45px;


            + .mktoClear {
                display: none;
            }
        }

        textarea.mktoField {
            width: 100% !important;
            min-height: 200px;
            padding: 10px !important;
            border: 1px solid transparent !important;
            outline: 0 !important;
        }

        select.mktoField {
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            height: 45px;
            
            &:focus {
                outline: none;
            }
        }

        div.mktoLogicalField {
            width: auto !important;
            padding: 0.3em 0;
            float: none;
            border-radius: 0;

            + .mktoClear {
                display: none;
            }
        }

        input[type=checkbox] + label:before,
        input[type=radio] + label:before {
            width: 1.2em;
            height: 1.2em;
            margin-left: -1.2em;
            box-shadow: none;
            border: 0;
            border-radius: 0;
            font-size: 14px;
        }



        .mktoFormRow {
            .mktoRangeField {
                margin-bottom: 8px;
                position: relative;

                &:after,
                &:before {
                    position: absolute;
                    top: 117px;
                    font-size: 12px;
                    font-weight: 600;

                    @media all and (max-width: 1194px) {
                        top: 124px;
                    }

                    @media all and (max-width: 991px) {
                        top: 94px;
                    }

                    @media all and (max-width: 664px) {
                        top: 108px;
                    }

                    @media all and (max-width: 426px) {
                        top: 125px;
                    }
                }

                &:before {
                    content: "0";
                    left: 0;
                }

                &:after {
                    content: "10";
                    right: 0;
                }

                input[type=range] {
                    -webkit-appearance: none;

                    /*required for proper track sizing in FF*/
                    width: 100% !important;
                    margin-top: 50px;
                    margin-bottom: 16px;
                    background-color: transparent;
                }
                input[type=range]::-webkit-slider-runnable-track {
                    width: 100%;
                    height: 5px;
                    background: #ddd;
                    border: none;
                    border-radius: 3px;
                }
                input[type=range]::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    border: none;
                    height: 25px;
                    width: 25px;
                    border-radius: 50%;
                    background: $colorRed;
                    margin-top: -9px;
                }
                input[type=range]:focus {
                    outline: none;
                }
                input[type=range]:focus::-webkit-slider-runnable-track {
                    background: #ccc;
                }

                input[type=range]::-moz-range-track {
                    width: 100%;
                    height: 5px;
                    background: #ddd;
                    border: none;
                    border-radius: 3px;
                }
                input[type=range]::-moz-range-thumb {
                    border: none;
                    height: 16px;
                    width: 16px;
                    border-radius: 50%;
                    background: $colorRed;
                }

                /*hide the outline behind the border*/
                input[type=range]:-moz-focusring{
                    outline: 1px solid white;
                    outline-offset: -1px;
                }

                input[type=range]::-ms-track {
                    width: 100%;
                    height: 5px;

                    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
                    background: transparent;

                    /*leave room for the larger thumb to overflow with a transparent border */
                    border-color: transparent;
                    border-width: 6px 0;

                    /*remove default tick marks*/
                    color: transparent;
                }
                input[type=range]::-ms-fill-lower {
                    background: #777;
                    border-radius: 10px;
                }
                input[type=range]::-ms-fill-upper {
                    background: #ddd;
                    border-radius: 10px;
                }
                input[type=range]::-ms-thumb {
                    border: none;
                    height: 16px;
                    width: 16px;
                    border-radius: 50%;
                    background: $colorRed;
                }
                input[type=range]:focus::-ms-fill-lower {
                    background: #888;
                }
                input[type=range]:focus::-ms-fill-upper {
                    background: #ccc;
                }

                &.mktoHover {
                    .mktoRangeValue {
                        margin-top: 50px !important;
                    }
                }
            }
        }

    }

    .mktoButtonWrap {
        margin-left: 0 !important;
    }

    .mktoButtonRow {
        margin-top: 30px !important;
        width: 100% !important;
    }

    .marketo--inline {

        .mktoLabel {
            display: inline-block;
            float: left;
            width: auto !important;
        }

        .mktoField,
        .mktoRadioList {
            width: 70% !important;
            float: right !important;

            @media screen and (min-width: 1180px) and (max-width: 1366px) {
                width: 60% !important;
            }

            @media screen and (min-width: 1024px) and (max-width: 1180px) {
                width: 50% !important;
            }

            @media screen and (max-width: 1023px) {
                width: 100% !important;
            }
        }

    }

    .marketo--twocols {
        @media screen and (min-width: 481px) {
            .mktoFormRow:nth-child(2),
            .mktoFormRow:nth-child(3),
            .mktoFormRow:nth-child(4),
            .mktoFormRow:nth-child(5),
            .mktoFormRow:nth-child(6),
            .mktoFormRow:nth-child(7),
            .mktoFormRow:nth-child(8) {
                width: 48%;
                float: left;
                clear: none;
            }

            .mktoFormRow:nth-child(3),
            .mktoFormRow:nth-child(5),
            .mktoFormRow:nth-child(7) {
                float: right;
            }
        }
    }

    .mkto-message {
        font-weight: 600;
    }

    .mktoModal {
        .mktoModalContent {
            padding: 30px 40px !important;
            background-color: #EFEFEF !important;
        }

        .mktoModalClose {
            width: 30px;
            height: 30px;
            line-height: 28px;

            border-radius: 50%;
            box-shadow: 0 0 0 2px #EFEFEF;
            border: none !important;

            transition: all 0.2s ease;

            &:hover {
                background-color: #EFEFEF;
                color: #000;
                box-shadow: 0 0 0 2px #000;
            }
        }
    }


    .marketo--full {

        .mktoFieldWrap {
            display: block;
            width: 100%;

            .mktoLabel {
                display: none;
            }

            input[type="text"],
            input[type="tel"],
            input[type="number"],
            input[type="email"],
            select.mktoField {
                @extend .form__input;
                border: 1px solid transparent;
                box-shadow: none;
                padding: 0.75rem 1.25rem !important;
                border-radius: 0;
                font-family: 'Gordita',sans-serif;

                width: 100% !important;

                @media all and (max-width: 520px) {
                    width: 100% !important;
                }

                + .mktoClear {
                    display: none;
                }
            }

            textarea {
                @extend .form__textarea;
                border: 1px solid transparent;
                box-shadow: none;
                padding: 0.75rem 1.25rem !important;
                border-radius: 0;
                font-family: 'Gordita',sans-serif;

                width: 100% !important;

                @media all and (max-width: 520px) {
                    width: 100% !important;
                }

                + .mktoClear {
                    display: none;
                }
            }
        }

        .mktoButtonRow {
            text-align: left;
        }

        &-with-labels {
            .mktoLabel {
                display: block !important;
            }
        }
    }

    .marketo--narrow {
        width: 80% !important;
        margin: {
            left: auto;
            right: auto;
        }
    }

    .marketo--placeholder {

        .mktoFormRow {
            .mktoFormCol {
                margin-top: 10px;
            }

            .mktoFieldWrap {
                .mktoLabel {
                    display: none;

                    &[for=Blog_Subscriber__c] {
                        display: inline;
                    }
                }

                .mktoField {
                    width: 100% !important;
                    box-shadow: none !important;
                    padding: 6px 13px !important;
                }

            }

            .mktoHtmlText {
                p {
                    &:first-child {
                        padding-bottom: 10px;
                    }
                }
            }
        }

        .mktoButtonRow {
            .mktoButton {
                margin-top: 0;
            }
        }

        @media screen and (min-width: 481px) and (max-width: 768px) {
            .mktoFormRow:nth-child(2),
            .mktoFormRow:nth-child(3),
            .mktoFormRow:nth-child(5),
            .mktoFormRow:nth-child(6),
            .mktoFormRow:nth-child(7),
            .mktoFormRow:nth-child(8),
            .mktoFormRow:nth-child(9) {
                width: 48%;
                float: left;
                clear: none;
            }

            .mktoFormRow:nth-child(3),
            .mktoFormRow:nth-child(5),
            .mktoFormRow:nth-child(7) {
                float: right;
            }
        }
    }


    .marketo--align-left {
        input[type="text"],
        input[type="tel"],
        input[type="number"],
        input[type="email"],
        select.mktoField {
            width: calc(100% - 70px) !important;

            @media all and (max-width: 520px) {
                width: 100% !important;
            }
        }
    }

    .mktoForm select.mktoField {
        line-height: 1;
    }
}


body .mktoForm .mktoButtonRow {
    display: flex !important;
    justify-content: space-between;
    clear: both;

    > * {
        flex: 0 0 48%;

        button.mktoButton {
            width: 100% !important;
        }
    }
}

.content .mktoHtmlText p {
    font-size: 1.05em;
}
