/**
*
* Media - imgs/videos
*
**/

img,
video,
object {
    max-width: 100%;
}

// for lazy loading
img:not([src]) {
    visibility: hidden;
}

// fix for IE Edge (Intersection Observer + Lazy Load reason)
// According to what reported in #152, for Microsoft Edge to fire the IntersectionObserver for an img element, it must have a size. 
img[data-src],
img[data-srcset] {
  min-height: 1px;
}