.open-menu-mobile-btn {
    @media (min-width: 1024px) {
        display: none;
    }

    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 7;

    width: 100%;
    padding: 0.7em 1em;

    background-color: $colorRed;
    color: #fff;

    font-size: rem(18px);
    font-weight: 500;
    
    &__icon {
        display: inline-block;
        width: 30px;
        margin-top: -4px;
        margin-right: 10px;

        fill: #fff;
    }
}