.padded {
    padding: 2.5em;

    .website-holder:not(.website-holder--open) & {
        padding: {
            left: 5em;
            right: 5em;
        }
    }

    &--full-height {
        min-height: calc(100vh - #{$topNavbarHeight});
    }

    &--vertically-space-between {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &--middle-aligned {
        display: flex;
        align-items: center;
    }
}